name: Test Competitive Library Checker

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_NOLOGO: true
  NUGET_XMLDOC_MODE: skip
  NUGET_PACKAGES: ${{ inputs.nuget-path }}

jobs:
  test:
    uses: ./.github/workflows/competitive-library-checker.yml
    with:
      target: LibraryCheckerRunner/LibraryCheckerRunner.csproj
      dll-name: run-library-checker.ps1
      dotnet-version: 3.1.x
